.filters-container {
  margin: 10px auto;

  width: 100%;
  max-width: 400px;

  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn-filters {
  cursor: pointer;

  width: 100%;
  max-width: 100px;

  padding: .2rem;

  border: 2px solid transparent;
  border-radius: 5px;

  background: transparent;
}

.btn-filters.all {
  border-color: whitesmoke;
  color: whitesmoke;
}

.btn-filters.completed {
  border-color: greenyellow;
  color: greenyellow;
}

.btn-filters.pending {
  border-color: tomato;
  color: tomato;
}

.task-form {
  margin-top: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.task-input {
  padding: .4rem;

  border: 1.5px solid white;
  border-radius: 5px;

  color: white;
  background: transparent;
}

.task-button {
  cursor: pointer;

  padding: .4rem;

  border: 2px solid white;
  border-radius: 5px;

  color: white;
  background: transparent;
}

.task-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.task-item {
  margin: 5px auto;

  width: 100%;
  max-width: 300px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3px;
}

.task-item .task-checkbox {
  cursor: pointer;

  width: 20px;
  height: 20px;
}

.task-item .task-button-list {
  cursor: pointer;

  padding: .35rem;

  border: 1px solid lightcoral;
  border-radius: 5px;

  color: lightcoral;
  background: transparent;
}